    @media (max-width:480px)  {
   

    .input-group{
        width: 90% !important;

    }
    body, html {
        height: 100%
     }
     #paranetDiv {
         height: 100vh;
     }
     .bottom-image{
        margin-top: 10%;
     }
     .sub-btn{
        border: solid 1px #445CE0 !important;
        border-radius: 30px !important;
        background-color: #445CE0 !important;
        color: #fff !important;
     }
     .sub-input{
         border-right: none !important;
         border: none !important;
     }
     .sub-content{
         border: solid 1px #999;
         border-radius: 30px !important;
         overflow: hidden;
     }
}





