

/* new styling begins*/
body, html {
    height: 100%
 }
 #paranetDiv {
     height: 100vh;
 }
 .container{
     height: 100vh;
 }
 .content-holder{
    display: flex;
    justify-content: center;
 }
 .shown{
     border: solid 2px blue;
 }
 .f-center{
    display: flex;
    justify-content: center;
 }
 .input-group{
     width: 50% !important;
 }
 .center-holder{
     background-image: url("../assets/map-dots.png");
 }
 @font-face {
    font-family: "CustomFont";
    src: url("AvenirLTStd-Black.otf");
    src: url("AvenirLTStd-Black.otf") format("opentype"),
    url("AvenirLTStd-Black.otf") format("opentype"),
    url("AvenirLTStd-Black.otf") format("opentype");
}
.text1{
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: bolder;
    font-style:normal;
    color: #445CE0;
}
.text2{
    font-family: 'CustomFont', Arial, sans-serif;
    color: #445CE0;
    font-size: 4.5em;
    font-weight: bolder;
}
.text3{
    font-family: 'CustomFont', Arial, sans-serif;
    color: #445CE0;
    font-weight: bolder;
}
.sub-btn{
    border: solid 1px #445CE0 !important;
    border-radius: 30px !important;
    background-color: #445CE0 !important;
    color: #fff !important;
 }
 .sub-input{
     border-right: none !important;
     border: none !important;
 }
 .sub-content{
     border: solid 1px #999;
     border-radius: 30px !important;
     overflow: hidden;
 }
 