.airvend-logo{

}
.main-content-div{
    background-image: url(../assets/map-dots.png);
    width: 828px;
    height: 467px;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('AvenirLTStd-Black.otf'); /* IE9 Compat Modes */
    src: url('AvenirLTStd-Black.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('AvenirLTStd-Black.otf') format('otf'), /* Super Modern Browsers */
         url('AvenirLTStd-Black.otf') format('woff'), /* Pretty Modern Browsers */
         url('AvenirLTStd-Black.otf')  format('truetype'), /* Safari, Android, iOS */
         url('AvenirLTStd-Black.otf') format('svg'); /* Legacy iOS */
  }

.top-text1{
    color: #626ff0;
    text-align: center;
    font-family: MyWebFont;
    font-size: 350%;
}

.top-text2{
    color: #626ff0;
    text-align: center;
    font-size: 750%;
    font-weight: 900;
    font-family: MyWebFont;
}
.description{
    text-align: center;
}

.text3{
    color: #626ff0;
    text-align: center;
    font-weight: bold;
    font-family: MyWebFont;
}

.notify-input{
    width: 650px !important;
    height: 30px !important;
    margin-left: 22%;
}
.subscribe-input{
    color: #fff !important;
    border-radius: 25px !important;
    border: solid 1px #eee !important;
    box-shadow: 0px 0px 20px #999;
    height: 40px !important;
}
.subscribe-button{
    background-color: #626ff0 !important;
    color: #fff !important;
    width: 150px;
    border-radius: 25px !important;
    left: -100%;
    border: solid 1px #626ff0 !important;
    height: 40px !important;
}
.socialMedia-icons{
    text-align: center;
    padding-left: 45%;
    
}
